.landing-page {
    background-image: url('../IP3/assets/backgrounds/h_img.jpg');
    text-align: center;
    height: 45em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14%;
    color: white;
    background-position: center;
}
.about h1,
p {
    text-align: center;
    padding-top: 2vh;
}
.service {
    background-image: url('../IP3/assets/backgrounds/s_image.jpg');
    height: 36em;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 15%;
    background-position: center;
}
.portfolio img {
    width: 18em;
}

.contact form {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.contact {
    background-image: url("../IP3/assets/backgrounds/c_image.jpg");
    text-align: center;
    height: 28em;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2%;
    color: white;
}
.footer {
    text-align: center;
    padding: 11%;
}
.inputs  {
  display: flex;
 }
 #name, #email, #text{
 background-color: transparent;
 margin: 20px;
 }
 ::placeholder{
 color:  white;
 margin: 20px;
 }
 .click{
 padding: 15em;
 }
 #p, #p1, #p2{
 display: none;
 }
 .whatWeDo{
 text-align: center;
 flex-direction: row-reverse;
 }  
 .first, .second, .third{
 display: inline-block;
 margin: 10%;
 }
 #text {
    height: 220px;
    width: 75%;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: transparent;
    border: solid 1px white;
    color: white;
}
#email, #name{
    width: 35vw;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: transparent;
    border: solid 1px white;
}

.portfolio  img,
.IMG {
    width: 250px;
    height: 250px;
    margin: 1%;
    margin-top: 0%;
}

.IMG {
    background-size: cover;
    float: right;
    opacity: 0.9;
    background: linear-gradient(#070606ea,
            #141414d0),
        url('../IP3/assets/portfolio/work8.jpg');

} 

.IMG p {
    border: 3px solid white;
    font-size: 22px;
    margin-top: 1%;
    margin-bottom: 12%;
    margin-right: 8%;
    margin-left: 8%;
    z-index: 1;
    color: white;
    padding-top: 4px;
    padding-left: 2%;
} 
.submit{
    width: 10%;
}
h2,h3{
    font-family: 'DM Serif Text', serif;
}
p{
    font-family: 'DM Serif Text', serif;
}
h1{
    font-family: 'DM Serif Text', serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
}
body{
    overflow-x: hidden;
}

#port1 {
    background-size: cover;
    float: left;
    opacity: 0.9;
    background: linear-gradient(#070606ea,
            #141414d0),
        url('../IP3/assets/portfolio/work2.jpg');

}  
