.landing-page {
    background-image: url('../assets/backgrounds/h_img.jpg');
    text-align: center;
    height: 45em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14%;
    color: white;
    background-position: center;
}
.about h1,
p {
    text-align: center;
    padding-top: 2vh;
}
.service {
    background-image: url('../assets/backgrounds/s_image.jpg');
    height: 36em;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 15%;
    background-position: center;
}
.portfolio img {
    width: 18em;
}

.contact form {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.contact {
    background-image: url("../assets/backgrounds/c_image.jpg");
    text-align: center;
    height: 28em;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2%;
    color: white;
}
.footer {
    text-align: center;
    padding: 5%;
    font-size: 19%;
}
.inputs  {
  display: flex;
 }
 #name, #email, #text{
 background-color: transparent;
 margin: 20px;
 }
 ::placeholder{
 color:  white;
 margin: 20px;
 }
 .click{
 padding: 15em;
 }
 #p, #p1, #p2{
 display: none;
 }
 .whatWeDo{
 text-align: center;
 flex-direction: row-reverse;
 }  
 .first, .second, .third{
 display: inline-block;
 margin: 10%;
 }
 #text {
    height: 220px;
    width: 75%;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: transparent;
    border: solid 1px white;
    color: white;
}
#email, #name{
    width: 35vw;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: transparent;
    border: solid 1px white;
}
.submit{
    width: 10%;
}
h2,h3{
    font-family: 'DM Serif Text', serif;
}
p{
    font-family: 'DM Serif Text', serif;
}
h1{
    font-family: 'DM Serif Text', serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
}
body{
    overflow-x: hidden;
}
#p-text1, #p-text2, #p-text3, #p-text4, #p-text5, #p-text6, #p-text7, #p-text8 {
    display: none;
   
}
